body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

ol.breadcrumbs
  padding: 0

ol.breadcrumbs li
  display: inline

ol.breadcrumbs li + li:before
  content: " > "

table.metadata th
  text-align: left

table.metadata th::after
  content: ':'